<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1131600_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{86,1},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1131600_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,83}</string>
                <key>spriteSourceSize</key>
                <string>{85,83}</string>
                <key>textureRect</key>
                <string>{{1,1},{85,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1131600_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,43}</string>
                <key>spriteSourceSize</key>
                <string>{84,43}</string>
                <key>textureRect</key>
                <string>{{172,1},{84,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1131600_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,83}</string>
                <key>spriteSourceSize</key>
                <string>{81,83}</string>
                <key>textureRect</key>
                <string>{{217,1},{81,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1131600_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,18}</string>
                <key>spriteSourceSize</key>
                <string>{248,18}</string>
                <key>textureRect</key>
                <string>{{87,87},{248,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1131600_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{84,22}</string>
                <key>textureRect</key>
                <string>{{1,88},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1131600_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{300,1},{76,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Wood.png</string>
            <key>size</key>
            <string>{376,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727b5bf0b3072a5e49b17a3cc0fec894:a2e67aeced664765381880b5f24a630c:54c2cd19272cd59c8cdd937f422fefe8$</string>
            <key>textureFileName</key>
            <string>Wood.png</string>
        </dict>
    </dict>
</plist>
